.cartIcon{
font-size: 30px;
}

.cartQuantity{
  position: absolute;
  font-size: 17px;
  font-weight: 800;
  color: #000;
  z-index: 200;
  margin-left: 0%;
  right: 33px;
  top: 15px;
  margin-top: 0px;
}