@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

// FONT FAMILY
$font-family-primary: 'Heebo', sans-serif;

// COLORS
$color-primary: #000;
$color-secondary: #ff6347;
$color-tertiary: #fff;