.productList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  padding: 0px;
}

.product{
  border: 3px solid #000;
  border-radius: 2px;
  list-style: none;
  margin: 30px 8vh;
  text-align: center;
  padding: 15px 30px;
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, .2);
  background-color: #fff;
}

.product:hover{
  transition: 1s ease;
  border-color: #ff6347;
}



.product img{
  width: 200px;
  height: 250px;
}

.product h3{
  font-weight: 800;
  margin-bottom: 0px;
}

.product p{
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin: 10px 0px;
}

.buttonBuy{
  font-weight: 600;
  background-color: #fff;
  color: black;
  border: 2px solid #000;
  border-radius: 2px;
  font-size: 20px;
  padding: 5px 25px;
  margin-bottom: 10px;
  transition: 0.5s ease;
  text-decoration: none;
}

.buttonBuy:hover{
  background-color: #000;
  color: #ff6347;
  border-color: #ff6347;
  font-size: 20px;
  padding: 5px 25px;
}