@import '../../../../sass/global.scss';

.list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  padding: 0px;


  .product{
    border: 3px solid $color-primary;
    border-radius: 2px;
    list-style: none;
    margin: 30px 8vh;
    text-align: center;
    padding: 15px 30px;
    box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, .2);
    background-color: $color-tertiary;
  
    img{
      width: 200px;
      height: 250px;
    }
  
    h3{
      font-weight: 800;
      margin-bottom: 0px;
    }
  
    p{
      text-align: center;
      font-weight: 600;
      font-size: 25px;
      margin: 10px 0px;
    }
  
    .btnBuy{
      font-weight: 600;
      background-color: $color-tertiary;
      color: $color-primary;
      border: 2px solid $color-primary;
      border-radius: 2px;
      font-size: 20px;
      padding: 5px 25px;
      margin-bottom: 30px;
      transition: 0.5s ease;
      text-decoration: none;
    }
  
    .btnBuy:hover{
      background-color: $color-primary;
      color: $color-secondary;
      border-color: $color-secondary;
      font-size: 20px;
      padding: 5px 25px;
    }
  }
  
  .product:hover{
    transition: 1s ease;
    border-color: $color-secondary;
  }
}

