.newsletterContainer{
  font-family: 'Heebo', sans-serif;
  text-align: center;
  margin-bottom: 200px;
}

.newsletterContainer h3{
  font-size: 40px;
  margin: 0px;
}

.newsletterContainer p{
  margin: 10px 0px 30px 0px;
  font-size: 20px;
}

.newsletterContainer input{
  font-size: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  width: 300px;
}

::placeholder {
  padding: 2px 8px;
  font-size: 18px;
}

.newsletterContainer input:hover{
  transition: 0.5s ease;
  color: #ff6347;
  border-color: #ff6347;
}

.newsletterContainer button{
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 5px 15px;
  font-size: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.3s ease;
}

.newsletterContainer button:hover{
  transition: 0.5s ease;
  background-color: #000;
  color: #ff6347;
  border-color: #ff6347;
}
