.clothesPage{
  font-family: 'Heebo', sans-serif;
  background-color: #f8f4f4;
  margin: 50px;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.emptyCategory{
  margin: auto;
  text-align: center;
  font-size: 30px;
}