.welcome{
  background-color: black;
  height: 70vh;
  position:absolute;
  width: 100%;
  z-index: 1;
  font-family: 'Heebo', sans-serif;
}

.principalTitle{
  padding-top: 170px;
  margin: 0px;
  text-align: center;
  color: #fff;
  font-size: 80px;
  letter-spacing: 5px;

}

.buttonClothing {
  letter-spacing: 1px;
  font-family: 'Heebo', sans-serif;
  display: block;
  margin: auto;
  padding: 5px 20px;
  font-size: 30px;
  outline: none;
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 3px solid #fff;
  background-color: #000;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.buttonClothing:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
.buttonClothing:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
.buttonClothing:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #fff;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}