.stockDiv{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

p.quantity{
  font-size: 25px;
  margin: 0px 20px;
  font-weight: 600;
}

.decrementButton{
  margin-top: 10px;
}

.incrementButton{
  margin-top: 10px; 
}