.navBar{
  font-family: 'Heebo', sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.nameShop{
  text-decoration: italic;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 0px 10px;
  margin-top: 17px;
  margin-left: 10px;
  color: #fff;
}

.navBarPages{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 10px;
}

.navBarPages li{
  margin: 0px 15px;
}

.navLink{
  top: 300px;
  text-decoration: none;
  color: #fff;
}
.navLink:hover{
  transition: 0.5s ease;
  color: #ff6347;
}

.activeNavlink{
  color: #ff6347;
}

.cartIcon{
  font-size: 30px;
  color: #fff;
  }

.cartQuantity{
  position: absolute;
  font-size: 16px;
  font-weight: 800;
  color: #000;
  z-index: 200;
  margin-left: 0%;
  right: 33px;
  top: 16px;
  margin-top: 0px;
}