.navBar{
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.nameShop{
  padding: 0px 10px;
  margin-left: 10px;
}

.navBarPages{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 10px;
}

.navBarPages li{
  margin: 0px 15px;
}