.checkoutMain{
  margin-top: 62px;
  padding: 100px;
  height: 100vh;
  max-height: 100%;
}

.checkout{
  display: flex;
  flex-direction: column;
}

input{
  padding: 10px;
  margin-bottom: 30px;
  width: 50%;
}

.finishBuy{
  text-align: center;
	text-decoration: none;
  letter-spacing: 1px;
	width: 200px;
  padding: 10px 10px;
  font-size: 15px;
  outline: none;
	color: #fff;
	border: 3px solid #fff;
  background-color: #000;
  transition: 0.5s ease;
  display: block;
  margin: 0px;
  font-size: 28px;
}